.banner {
    min-width: 100vw;
    text-align: center;
    line-height: 175%;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px 0;
}

#colorDisplay {
    font-size: 150%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #232323;
    margin: 0;
    font-family: "avenir";
}

.board {
    display: grid;
    justify-content: space-around;
    margin: 0px;
    padding: 20px 0px;
    min-width: 100%;
}

.card {
    color: white;
    margin: 2%;
    border-radius: 50%;
}

.selected {
    color: white;
    background-color: steelblue;
}

button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    --webkit-transition: background 0.6s;
    --moz-transtion: background 0.6s;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#colorDisplay {
    background-color: "#9A0CF2";
    display: inline-block;
    width: 100%;
}

.dogeContainer {
    margin-top: 20px;
}
